@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* body{
    background-color: rgba(0, 0, 0, 0.88);
} */
.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.box{
    height: 644px;
    width: 100%;
    opacity:0.68;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.647);
    position: absolute;
}

nav{
    height: 62px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    max-width: 75vw;
    padding-top: 20px;
    /* background-color: blueviolet; */
    
    
}
nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 5;
}

nav button {
    position: relative;
    z-index: 10;
}

.eng_btn{
    margin: 15px;
    width: 100px;
    height: 27px;
    border-radius: 4px;
    cursor:pointer;
    border-color: rgba(112, 112, 112, 0.896);
    background-color: rgba(0, 0, 0, 0.577);
    color: white;
    position: relative;
    z-index: 10;
    
}

.sign_btn{
    height: 28px;
    width: 60px;
    background-color: rgba(237, 32, 32, 0.956);
    border-color: rgba(237, 32, 32, 0.956)  ;
    border-radius: 4px;
    color: white;
    cursor: pointer;
   
    
}

.text_cont {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
   
}

.first{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.second{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.third{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}




.cont_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    
}

.main input{
    padding: 10px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.453);
    height: 32px;
    width: 258px;
}

.start_btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgba(255, 0, 0, 0.816);
    cursor: pointer;
    /* padding-bottom: 10px;
    padding-top: 10px; */

    /* height: 32px; */
    background-color: rgba(255, 0, 0, 0.816);
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.text_cont button{
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.separation{
    height: 8px;
    position: relative;
    z-index: 20;
    background-color: grey;
}


.firstSec {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    color: white;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 500px;
    gap: 55px;
}

.sec1Text{
    height: 200px;
    width: 501px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1Text h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    justify-content: center;
   
}
.sec1Text p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: 52px;

}

.sec1Img{
    display: flex;
    height: 300px;
    right: 50px;
    

}
.sec1Img image{
    width: 555px;
    position: relative;
    z-index: 10;
    /* height: 50px; */
}
.sec1Img video{
    position: absolute;
    top: 735px;
    right: 193px;
    width: 288px;
    height: 321px;
}

.secSecond{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    color: white;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 500px;
    gap: 55px;
}

.secSecond h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    justify-content: center;
}

.secSecond h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: 3px;
}

.sec2Text{
    height: 200px;
    width: 501px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.secThird{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    color: white;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 500px;
    gap: 55px;
}


.secThird h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    justify-content: center;
}

.secThird h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: 52px;
}

.sec3Text{
    height: 200px;
    width: 501px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sec3Text h3{
    margin-left: 20px;
}


.sec3Img{
    display: flex;
    height: 300px;
    right: 50px;
    

}

.sec3Img image{
    width: 555px;
    /* position:absolute; */
    z-index: 10;
    /* height: 50px; */
    position: relative;
}
.sec3Img video{
    width: 210px;
    position: absolute;
    top: 1802px;
    right: 254px;
    height: 101px;
}

.sec4Text{
    height: 200px;
    width: 501px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .sec4Text h2{

}
.sec4Text h3{

} */


.secFourth h2{
font-size: 48px;
font-style: normal;
font-weight: 900;
justify-content: center;
}

.secFourth h3{
font-size: 24px;
font-style: normal;
font-weight: 400;
margin-left: 0px;
}

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.faq h2{
    margin-top: 44px;
    font-size: 48px;
    padding: 11px;
    color: white;

    /* margin-bottom: 44px; */
}

.quesBox{
    display: flex;
    width: 75%;
    height: 72px;
    background-color: rgba(30, 29, 29, 0.681);
    color: white;
    margin: 10px;
    padding-left: 37px;
    padding-right: 39px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    
}

.faq :hover{
    background-color: rgba(99, 93, 93, 0.784);
}

.quesBox span{
    font-size: 53px;
    font-weight: 50;
}

.faqtxt{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 14px;
    margin-top: 32px;
    text-align: center;
    color: white;
}

.faq input{
    padding: 10px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.453);
    height: 32px;
    width: 258px;
}

.faq button{
    
    padding-bottom: 10px;
    padding-top: 10px;
        
    
}
.faqcont_btn{
    margin-bottom: 84px;
}



